{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="container-fluid h-100 login">
        <div class="row h-100 bg-light">
            <div class="col col-4 d-flex justify-content-center align-items-center">
                <img src="{{ asset('img/login-bg.svg') }}" width="500" height="500" alt="Login Background">
            </div>
            <div class="col col-4 d-flex align-items-center">
                <div class="flex-fill">
                    <h1 class="h3 mb-3 font-weight-normal">Register a new account</h1>
                    <p>
                        <small>
                            It's 100% free! No credit card required.<br />
                            Create unlimited inboxes and receive unlimited emails.
                        </small>
                    </p>
                    <div class="card">
                        <div class="card-body p-4">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">
                                    Register
                                </button>
                            </div>
                            {{ form_end(form) }}
                            <div class="my-4">
                                Already have an account yet?
                                <a href="{{ path('app_login') }}">
                                    Login now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
