<div {{ attributes }} data-poll>

    {% set totalMessages = this.totalMessages %}

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 mb-3">
                <div class="btn-toolbar mb-2 mb-md-0">
                    {#<button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="tooltip" title="Select All">
                        <input type="checkbox" class="form-check-input me-1" id="selectAllCheckBox">
                        <label class="form-check-label" for="selectAllCheckBox">Select All</label>
                    </button>#}

                    <button type="button" class="btn btn-sm btn-outline-secondary me-2" data-bs-toggle="tooltip" title="Refresh" data-action="live#$render">
                        <i class=" fa-solid fa-refresh"></i>
                    </button>

                    {#<div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                        <span data-feather="calendar" class="align-text-bottom"></span>
                        This week
                    </button>#}
                </div>

                <div class="align-content-end">
                    {% if totalMessages > 0 %}
                        <span class="justify-content-end">{{ this.start }}-{{ this.end }} of {{ totalMessages }}</span>
                    {% endif %}

                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary{% if this.start == 1 %} disabled{% endif %}" data-action="live#action" data-action-name="previousPage">
                            <i class="fa-solid fa-angle-left  pagination-left"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary{% if this.end >= totalMessages %} disabled{% endif %}" data-action="live#action" data-action-name="nextPage">
                            <i class="fa-solid fa-angle-right pagination-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body{% if totalMessages > 0 %} p-0{% endif %}">
            {% if totalMessages > 0 %}
                <table class="table table-inbox table-hover mb-0">
                <tbody>
                {% for email in this.messages %}
                    <tr{% if email.unread %} class="table-secondary"{% endif %}>
                        <td class="inbox-small-cells">
                            <input type="checkbox" class="mail-checkbox" />
                        </td>
                        <td class="view-message dont-show">
                            {% if email.unread %}
                                <b>{{ email.from }}</b>
                            {% else %}
                                {{ email.from }}
                            {% endif %}
                        </td>
                        <td class="view-message">
                            <a href="{{ path('app_view_message', {'inboxId': this.inbox.id, 'messageId': email.id}) }}">
                                {% if email.unread %}
                                    <b>{{ email.subject }}</b>
                                {% else %}
                                    {{ email.subject }}
                                {% endif %}
                            </a>
                        </td>
                        <td class="view-message  inbox-small-cells">
                            {% if email.hasAttachments %}
                                <i class="fa-solid fa-paperclip"></i>
                            {% endif %}
                        </td>
                        <td class="view-message text-end">
                            {% if email.unread %}
                                <b>{{ email.date|date }}</b>
                            {% else %}
                                {{ email.date|date }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-warning">
                    There are no messages in this Inbox.
                </div>

                {% include 'inbox/credentials.html.twig' with {inbox: this.inbox} %}
            {% endif %}
        </div>
    </div>

</div>
